<ng-sidebar-container class="people-page-container">

    <ng-sidebar [(opened)]="_opened" [(mode)]="_sidebarMode" [(autoCollapseWidth)]="_autoCollapseWidth"
                class="sidebar-container">
        <app-people-sidebar></app-people-sidebar>
    </ng-sidebar>

    <div ng-sidebar-content class="people-aria" #top>
        
        <div class="container people-list-container search-bar">
            <app-people-search-bar></app-people-search-bar>
        </div>

        <div class="container people-list-container content-aria">
            <app-people-list 
                (selectedPeople)="selectedPeople($event)"
                (openProfile)="selectedByTab($event)"
            >
            </app-people-list>
        </div>
        <app-people-details-modal *ngIf="chosenPeople" [chosenPeople]="chosenPeople" [chosenTab1]="chosenTab"></app-people-details-modal>
    </div>

</ng-sidebar-container>



