<ng-sidebar-container class="people-page-container">

    <ng-sidebar [(opened)]="_opened" [(mode)]="_sidebarMode" [(autoCollapseWidth)]="_autoCollapseWidth"
                class="sidebar-container">
        <app-people-sidebar></app-people-sidebar>
    </ng-sidebar>

    <div ng-sidebar-content class="people-aria" #top>
        
        <div class="container people-list-container search-bar">
            <app-people-search-bar></app-people-search-bar>
        </div>

        <div class="container people-list-container content-aria">
            <app-people-list 
                (selectedPeople)="selectedPeople($event)"
                (openProfile)="selectedByTab($event)"
            >
            </app-people-list>
        </div>
        <app-people-details-modal *ngIf="chosenPeople" [chosenPeople]="chosenPeople" [chosenTab1]="chosenTab"></app-people-details-modal>
        <app-people-edit-modal
            [itemData]="chosenJobReq"
            [colleagues]="chosenJobReqColleagues"
            [modalForJobReq]="modalForJobreqOrDocument"
            [cityList]="cityList"
            (saveOrDeleteJobReq)="saveOrDeleteJobReq($event)"
            (saveOrDeleteDocument)="saveOrDeleteDocument($event)"
            (saveOrDeleteEmail)="saveOrDeleteEmail($event)"
            (saveOrDeletePhone)="saveOrDeletePhone($event)"
            (saveOrDeleteWebLink)="saveOrDeleteWebLink($event)"
            (saveOrDeleteAddress)="saveOrDeleteAddress($event)"
            (saveOrDeleteExperience)="saveOrDeleteExperience($event)"
            (saveOrDeleteEducation)="saveOrDeleteEducation($event)"
            (saveOrDeleteLicense)="saveOrDeleteLicense($event)"
            (initCityLists)="initCityLists($event)"
            (saveOrDeleteSource)="saveOrDeleteSource($event)"
        >
        </app-people-edit-modal>
    </div>

</ng-sidebar-container>



