<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container class="people-page-container">
 
        <ng-sidebar [(opened)]="_opened" [(mode)]="_sidebarMode" [(autoCollapseWidth)]="_autoCollapseWidth" class="sidebar-container">

            <div class="search_label_left">
                <span>Search People</span>
                <a class="pull-right">Clear</a>
            </div>

        </ng-sidebar> 
 
        <div ng-sidebar-content class="people-aria">

            <div class="container people-list-container search-bar">
                <div class="row">
                    <div class="col col-1 filters-toggle">
                        <button class="filters-button" *ngIf="windowWidth <= _autoCollapseWidth" (click)="_toggleSidebar()"><fa name="filter"></fa></button>
                    </div>
                    <div class="col col-10">
                        <div class="form-search-people">
                            <form [formGroup]="searchPeopleForm" novalidate (ngSubmit)="submitSearch()">
                                <div class="step-group search-step-group">
                                    <div class="form-row">
                                        <input type="string" class="form-control input-control search-input" id="inputSearch" placeholder="Search" formControlName="searchRequest">
                                        <button type="submit" class="search-submit-button"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form> 
                        </div>
                    </div>
                    <div class="col col-1 option-col">
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle option-dropdown-button" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <fa name="ellipsis-h"></fa>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item custome-item">Save this Query</a>
                              <a class="dropdown-item custome-item">Saved Search & Alerts</a>
                              <a class="dropdown-item custome-item">Export to CSV</a>
                              <a class="dropdown-item custome-item">Send by Mail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--data-toggle="modal" data-target="#detailsModal"-->
            <div class="container people-list-container content-aria">
                
                <div class="row list-header" style="padding: 0 0 20px 0;">
                    <div class="col col-6 results-col">
                        <span>0 result</span>
                    </div>
                    <div class="col col-6 sort-col">
                        <div class="input-group search_sort">
                            <span class="input-group-addon">sort</span>
                            <select name="searchSort" id="searchSort" class="form-control">
                                <option value="string:lastUpdate" selected>Last Update</option>
                                <option value="string:readyForChangeIndex">Ready For Change Index</option>
                                <option value="string:relocationIndex">Relocation Index</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--col-xl-2 col-md-3 col-sm-5 col-xs-12 col-xl-10 col-md-9 col-sm-7 col-xs-12--> 
                <div class=" table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td class="people-list-td" data-toggle="modal" data-target="#detailsModal">
                                    <div class="people-list-item-div">
                                        <div class="avatar-container">
                                            <a>
                                                <!--<img/>-->
                                                <img src="assets/img/user-new.png"/>
                                            </a>
                                        </div>
                                        <div class="details-container">
                                            <div class="row item-title-div">
                                                <div class="col">
                                                    <a class="people-item-title-name">
                                                        <h3>Full Name</h3>
                                                    </a>
                                                </div>
                                                <div class="col item-contact-div">
                                                    <a class="option" title="View email">
                                                        <fa name="envelope-o"></fa>
                                                    </a>
                                                    <a class="option" title="View phone">
                                                        <fa name="phone"></fa>
                                                    </a>
                                                    <a class="option" title="View facebook">
                                                        <fa name="facebook"></fa>
                                                    </a>
                                                    <a class="option" title="Add notes">
                                                        <i class="fa fa-edit">
                                                            <span class="badge red-badge">1</span>
                                                        </i>
                                                    </a>
                                                    <a class="option" title="Add to list">
                                                        <i class="fa fa-folder-o">
                                                            <span class="badge green-badge">3</span>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item-city-name">City Name</div>
                                            <div class="item-last-name">Last Title</div>
                                            <div class="item-last-company">Last Company</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="people-list-td" data-toggle="modal" data-target="#detailsModal">
                                    <div class="people-list-item-div">
                                        <div class="avatar-container">
                                            <a>
                                                <!--<img/>-->
                                                <img src="assets/img/user-new.png"/>
                                            </a>
                                        </div>
                                        <div class="details-container">
                                            <div class="row item-title-div">
                                                <div class="col">
                                                    <a class="people-item-title-name">
                                                        <h3>Full Name</h3>
                                                    </a>
                                                </div>
                                                <div class="col item-contact-div">
                                                    <a class="option" title="View email">
                                                        <fa name="envelope-o"></fa>
                                                    </a>
                                                    <a class="option" title="View phone">
                                                        <fa name="phone"></fa>
                                                    </a>
                                                    <a class="option" title="View facebook">
                                                        <fa name="facebook"></fa>
                                                    </a>
                                                    <a class="option" title="Add notes">
                                                        <i class="fa fa-edit">
                                                            <span class="badge red-badge">1</span>
                                                        </i>
                                                    </a>
                                                    <a class="option" title="Add to list">
                                                        <i class="fa fa-folder-o">
                                                            <span class="badge green-badge">3</span>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item-city-name">City Name</div>
                                            <div class="item-last-name">Last Title</div>
                                            <div class="item-last-company">Last Company</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<div me-pagination></div>-->
                </div>
                
                
<!--                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                </nav>-->
                
                
                
<!--                <div class="row bg_fff padding_top_20 padding_right_0 boxShadow">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-6 padding_0 font_bold margin_0">
                                {{PersonSearch.total| currency:"":0}}
                                <span ng-if="PersonSearch.total === 0">result</span>
                                <span ng-if="PersonSearch.total > 0">results</span>
                            </div>
                            <div ng-show="accountType >= 4" class="col-xs-6 margin_0 text_align_right" ng-include="'app/templates/navbar/people/sort-result.html'"></div>
                        </div>
                        <div ng-include="'app/templates/navbar/people/list_check.html'"></div>
                        <div class=" table-responsive" ng-if="PersonSearch.hits.length > 0">
                            <table class="table table-hover job_order_list">
                                <tbody>
                                    <tr dir-paginate="obj in PersonSearch.hits| itemsPerPage:20" total-items="PersonSearch.total" ng-class="{
                                    'active_tb': obj.id === active.activeItemTb}">
                                        <td style="padding-left: 0;">
                                            <div ng-include="'app/templates/navbar/people/result_search_table.html'"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div me-pagination></div>
                        </div>
                    </div>
                </div>-->
                
                
                
                
            </div>
            <!-- Modal -->
            <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Details
                    </div>
            <!--      <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>-->
                </div>
              </div>
            </div>
        </div>

</ng-sidebar-container>



