 <!-- Modal -->
<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="itemData">
        <div class="modal-body">
            <div class="row header_right_popup">
          
          <div class="col-md-5 padding_0 div_title">
              <h5 class="h3_title" style="font-weight: bold;">{{modalTitle}}</h5>
          </div>
          <div class="col-md-7 text-right">
              <button class="btn btn-success div_btn_action" [disabled]="!itemData.name || !itemData.cityName" title="Save" (click)="saveClient(itemData, forAdd);">
                  <i class="fa fa-check"></i> Save
              </button>
              <button class="btn btn-danger div_btn_action" *ngIf="!forAdd" title="Save" (click)="deleteClient(itemData);">
                  <i class="fa fa-trash"></i> Delete
              </button>
              <button class="btn btn-warning div_btn_action" title="Cancel" data-dismiss="modal" #btn_cancel>
                  <i class="fa fa-undo"></i> Cancel
              </button>
          </div>
          <div class="border_top_d padding_0 col-xs-12"></div>
      </div>

      <div class="padding_15">
          <form name="form" role="form">
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="name" class="me_required">Name </label>
                      <input type="text" name="name" id="name" class="form-control" [(ngModel)]="itemData.name" required />
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="address" class="">Address</label>
                      <input type="text" name="address1" id="address1" class="form-control" [(ngModel)]="itemData.address1" required style="margin-bottom: 10px;" />
                      <input type="text" name="address2" id="address2" class="form-control" [(ngModel)]="itemData.address2" required />
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="cityName" class="me_required">City </label>
                      <input type="hidden" name="geoId" id="geoId" class="form-control" [(ngModel)]="itemData.geoId" required />
                      <input type="text" name="cityName" id="cityName" class="form-control" [(ngModel)]="itemData.cityName" required />
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="zipCode" class="">Zip Code</label>
                      <input type="password" name="zipCode" id="zipCode" class="form-control" [(ngModel)]="itemData.zipCode" required />
                  </div>
              </div>
          </form>
      </div>
        </div>
    </div>
  </div>

</div>
