 <!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <app-detail-modal-header 
              [type]="'people'"
              [itemData]="chosenPeople"
            >
            </app-detail-modal-header>
            
            <app-detail-modal-content
              [type]="'people'"
              [itemData]="chosenPeople"
            >
            </app-detail-modal-content>
        </div>
    </div>
  </div>

</div>
