 <!-- Modal -->
<div class="modal fade" id="jobsDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <app-detail-modal-header 
              [type]="'jobs'"
              [modalType]="'detail'"
              [itemData]="chosenItem"
            >
            </app-detail-modal-header>
            
            <app-detail-modal-content
              [type]="'jobs'"
              [modalType]="'detail'"
              [itemData]="chosenItem"
              [chosenTab]="chosenTab1"
            >
            </app-detail-modal-content>
        </div>
    </div>
  </div>

</div>
