<div class="search-label-left">
    <span>Search Employer</span>
    <a class="pull-right">Clear</a>
</div>

<div class="filter" *ngFor="let filter of filtersList">
    <div *ngIf="filter.isVisible">
        <div class="filter-title">
            <h4 class="title">
                <a class="btn btn-primary collapse-btn" [ngClass]="{'collapsed': !filter.isComputed}" data-toggle="collapse" href="#{{filter.name}}" role="button">
                    {{filter.label}}
                    <i class="fa icon-arrow"></i>
                </a>
            </h4>
        </div>

        <div class="collapse" id="{{filter.name}}" [ngClass]="{'show': filter.isComputed}">
            <div class="filter-body">
                <div class="filter-item" *ngFor="let cb of filter.buckets; let i = index">
                     <!--ng-change="changeCheckedFacets(cb.isSelected, cb.key, obj.name, cb.isMore)" ng-checked="isCheckedFacets(cb.isSelected)"-->
                    <input type="checkbox" class="filter-check-input" id="{{filter.name}}_{{cb.key}}_{{i}}" [(ngModel)]="cb.isSelected">
                    
                    <label class="filter-check-label" for="{{filter.name}}_{{cb.key}}_{{i}}">
                        <p class="title-option-span" *ngIf="filter.name !== 'experience'"  
                            title="{{cb.key}}"> {{cb.key}}</p>
                        <p class="title-option-span" *ngIf="filter.name === 'experience'" class="" 
                            title="{{cb.label}}"> {{cb.label}}</p>
                        <p class="option-span">({{cb.doc_count | currency: "": "": "0.0-0": ""}})</p>
                    </label>
                </div>
                
                <div class="add-filter-block"> 
                    <!--ng-hide="isReplyFormOpen || !obj.isAddButton" ng-click="isReplyFormOpen = !isReplyFormOpen" ng-class="ShowUrlAdd"-->
                    <a *ngIf="filter.isAddButton"
                        class="add-label-a">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </a>
<!--                    <div ng-show="isReplyFormOpen">
                        <form name="form" role="form">
                            <div class="form-group">
                                <input type="text" ng-if="obj.name === 'city'" ng-model="addFacets" typeahead-on-select="onSelectAddFacets($item, $model ,obj)"
                                    uib-typeahead="state.name as state.name for state in getConceptCombo($viewValue,obj.conceptTypeId,obj.name) "
                                    class="form-control me-facets-add-input">

                                <input type="text" ng-if="obj.name === 'countries'" ng-model="addFacets" typeahead-on-select="onSelectAddFacets($item, $model ,obj)"
                                    uib-typeahead="state.name as state.name for state in getConceptCombo($viewValue,obj.conceptTypeId,obj.name) "
                                    class="form-control me-facets-add-input">

                                <input type="text" ng-if="obj.name === 'states'" ng-model="addFacets" typeahead-on-select="onSelectAddFacets($item, $model ,obj)"
                                    uib-typeahead="state.name as state.name for state in getConceptCombo($viewValue,obj.conceptTypeId,obj.name) "
                                    class="form-control me-facets-add-input">

                                <input ng-show="obj.name === 'keywords' " class="form-control me-facets-add-input" type="text" name="keywords" value="keywords"
                                    ng-model="keywords" ng-keydown="$event.keyCode === 13 && addKeywordFacets(keywords)">

                                <input type="text" ng-if="obj.name !== 'city' && obj.name !== 'states' && obj.name !== 'countries' && obj.name !== 'keywords' "
                                    ng-model="addFacets" typeahead-on-select="onSelectAddFacets($item, $model ,obj)"
                                    uib-typeahead="state.name as state.name for state in getConceptCombo($viewValue,obj.conceptTypeId,obj.name) "
                                    class="form-control me-facets-add-input">
                            </div>
                        </form>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>