<div class="search-label-left">
    <span>Search Employer</span>
    <a class="pull-right" (click)="search.clearSearch()">Clear</a>
</div>

<div class="filter" *ngFor="let filter of filtersList">
    <div *ngIf="filter.isVisible">
        <div class="filter-title">
            <h4 class="title">
                <a class="btn btn-primary collapse-btn" [ngClass]="{'collapsed': !filter.isComputed}" data-toggle="collapse" href="#{{filter.name}}" role="button">
                    {{filter.label}}
                    <i class="fa icon-arrow"></i>
                </a>
            </h4>
        </div>

        <div class="collapse" id="{{filter.name}}" [ngClass]="{'show': filter.isComputed}">
            <div class="filter-body">
                <div class="filter-item" *ngFor="let cb of filter.buckets; let i = index">
                    <input type="checkbox" class="filter-check-input" id="{{filter.name}}_{{cb.key}}_{{i}}" 
                       [(ngModel)]="cb.isSelected" (ngModelChange)="search.changeCheckedFacets(cb.isSelected, cb.key, filter.name, cb.isMore)" (checked)="isCheckedFacets(cb.isSelected)">
                    
                    <label class="filter-check-label" for="{{filter.name}}_{{cb.key}}_{{i}}">
                        <p class="title-option-span" *ngIf="filter.name !== 'experience'"  
                            title="{{cb.key}}"> {{cb.key}}</p>
                        <p class="title-option-span" *ngIf="filter.name === 'experience'" class="" 
                            title="{{cb.label}}"> {{cb.label}}</p>
                        <p class="option-span">({{cb.doc_count | currency: "": "": "0.0-0": ""}})</p>
                    </label>
                </div>
                
                <div class="add-filter-block"> 
                    <a [hidden]="filter.isReplyFormOpen || !filter.isAddButton" (click)="addFilterOptionFunction(filter)"
                        class="add-label-a">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </a>
                    <div *ngIf="filter.isReplyFormOpen">
                        <form [formGroup]="addFilterOption" novalidate (ngSubmit)="submitAddFilterOption(filter)">
                            <div class="form-group">
                                <input type="text" *ngIf="filter.name === 'cityFormatted'" class="form-control add-new-filter-option-input" formControlName="addFacets" (input)="citiesChangeInputEvent()"
                                       ngxTypeahead [value]="cities" [taList]="citiesList" [taItemTpl]="itemTpl" (taSelected)="optionHandleResultSelected($event, filter.name)"
                                       (focusout)="addFilterOptionFunction(filter)" autofocus> 

                                <input type="text" *ngIf="filter.name === 'country'" class="form-control add-new-filter-option-input" formControlName="addFacets" (input)="countriesChangeInputEvent()"
                                       ngxTypeahead [value]="countries" [taList]="countriesList" [taItemTpl]="itemTpl" (taSelected)="optionHandleResultSelected($event, filter.name)"
                                       (focusout)="addFilterOptionFunction(filter)" autofocus>

                                <input type="text" *ngIf="filter.name === 'stateFormatted'" class="form-control add-new-filter-option-input" formControlName="addFacets" (input)="statesChangeInputEvent()"
                                       ngxTypeahead [value]="states" [taList]="statesList" [taItemTpl]="itemTpl" (taSelected)="optionHandleResultSelected($event, filter.name)"
                                       (focusout)="addFilterOptionFunction(filter)" autofocus>

                                <input type="text" *ngIf="filter.name === 'keywords'" class="form-control add-new-filter-option-input" formControlName="keywords"
                                       (focusout)="addFilterOptionFunction(filter)" autofocus>

                                <input type="text" *ngIf="filter.name === 'concepts'" class="form-control add-new-filter-option-input" 
                                       formControlName="addFacets" taDisplayOnFocus="true" (input)="defaultChangeInputEvent(172)" (focusout)="addFilterOptionFunction(filter)" 
                                       ngxTypeahead [value]="default" [taList]="defaultList" [taItemTpl]="itemTpl" (taSelected)="optionHandleResultSelected($event, filter.name)" autofocus>

                                <ng-template #itemTpl let-result class="list-item">
                                     <div>
                                         <span>{{ result.result.name }}</span>
                                     </div>
                                 </ng-template>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>