<!-- ========================= Sourcing Pages Menu Board ========================= -->
<div class="row padding_top_50 app-body" *ngIf="!_router">
    <div class="col-xs-12 margin_0">
        <div class="row text_align_center main_setting">

            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/database-usa/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2" style="height: 60px;">
                            <img src="assets/img/sourcing/database-usa.png" class="img_show" style="max-width: 260px; " />
                            <img src="assets/img/sourcing/database-usa.png" class="img_hide" style="max-width: 260px; " />
                        </div>
                    </div>
                    <div class="title">
                        <h3>DatabaseUSA</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/facebook/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/facebook.png" class="img_show" />
                            <img src="assets/img/sourcing/facebook.png" class="img_hide" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Facebook</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/full-contact-person/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/full-contact.png" class="img_show" style="max-width: 125px; height: 60px;" />
                            <img src="assets/img/sourcing/full-contact.png" class="img_hide" style="max-width: 125px; height: 60px;" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Full Contact Person</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/full-contact-company/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/full-contact.png" class="img_show" style="max-width: 125px; height: 60px;" />
                            <img src="assets/img/sourcing/full-contact.png" class="img_hide" style="max-width: 125px; height: 60px;" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Full Contact Company</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/glassdoor-company/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2" style="height: 60px;">
                            <img src="assets/img/sourcing/glassdoor.jpg" class="img_show" style="max-width: 100px; " />
                            <img src="assets/img/sourcing/glassdoor.jpg" class="img_hide" style="max-width: 100px; " />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Glassdoor Company</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/glassdoor-job/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2" style="height: 60px;">
                            <img src="assets/img/sourcing/glassdoor.jpg" class="img_show" style="max-width: 100px; " />
                            <img src="assets/img/sourcing/glassdoor.jpg" class="img_hide" style="max-width: 100px; " />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Glassdoor Job</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/google-maps/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2" style="height: 60px;">
                            <img src="assets/img/sourcing/google-maps.png" class="img_show" style="max-width: 100px; " />
                            <img src="assets/img/sourcing/google-maps.png" class="img_hide" style="max-width: 100px; " />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Google Maps</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/krystal/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/company.jpg" class="img_show" />
                            <img src="assets/img/sourcing/company.jpg" class="img_hide" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Krystal</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/license/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/license.jpg" class="img_show" />
                            <img src="assets/img/sourcing/license.jpg" class="img_hide" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Licenses</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/linkedin/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/linkedin.png" class="img_show" />
                            <img src="assets/img/sourcing/linkedin.png" class="img_hide" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>LinkedIn</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/npi">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/npi.png" class="img_show" />
                            <img src="assets/img/sourcing/npi-1.png" class="img_hide" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>NPI</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/npi-officer/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/npi.png" class="img_show" />
                            <img src="assets/img/sourcing/npi-1.png" class="img_hide" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>NPI Officer</h3>
                    </div>
                </a>
            </div>

            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/medicare-ambulatory/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/medicare.png" class="img_show" style="max-width: 60px; height: 60px;" />
                            <img src="assets/img/sourcing/medicare.png" class="img_hide" style="max-width: 60px; height: 60px;" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Medicare Ambulatory Surgery</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/medicare-dialysis/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/medicare.png" class="img_show" style="max-width: 60px; height: 60px;" />
                            <img src="assets/img/sourcing/medicare.png" class="img_hide" style="max-width: 60px; height: 60px;" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Medicare Dialysis</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/medicare-home-health/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/medicare.png" class="img_show" style="max-width: 60px; height: 60px;" />
                            <img src="assets/img/sourcing/medicare.png" class="img_hide" style="max-width: 60px; height: 60px;" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Medicare Home Health</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/medicare-hospital/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/medicare.png" class="img_show" style="max-width: 60px; height: 60px;" />
                            <img src="assets/img/sourcing/medicare.png" class="img_hide" style="max-width: 60px; height: 60px;" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Medicare Hospital</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/medicare-physician/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/medicare.png" class="img_show" style="max-width: 60px; height: 60px;" />
                            <img src="assets/img/sourcing/medicare.png" class="img_hide" style="max-width: 60px; height: 60px;" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Medicare Physician</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/medicare-nursing-home/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/medicare.png" class="img_show" style="max-width: 60px; height: 60px;" />
                            <img src="assets/img/sourcing/medicare.png" class="img_hide" style="max-width: 60px; height: 60px;" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Medicare Nursing Home</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/medicare-supplier/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img src="assets/img/sourcing/medicare.png" class="img_show" style="max-width: 60px; height: 60px;" />
                            <img src="assets/img/sourcing/medicare.png" class="img_hide" style="max-width: 60px; height: 60px;" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Medicare Supplier</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/pipl/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2" style="height: 60px;">
                            <img src="assets/img/sourcing/pipl.png" class="img_show" />
                            <img src="assets/img/sourcing/pipl.png" class="img_hide" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Pipl</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/sovren-resume/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2" style="height: 60px;">
                            <img src="assets/img/sourcing/sovren.png" class="img_show" />
                            <img src="assets/img/sourcing/sovren.png" class="img_hide" />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Sovren</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/us-companies-list/">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2" style="height: 60px;">
                            <img src="assets/img/sourcing/us-companies-list.png" class="img_show" style="max-width: 260px; " />
                            <img src="assets/img/sourcing/us-companies-list.png" class="img_hide" style="max-width: 260px; " />
                        </div>
                    </div>
                    <div class="title">
                        <h3>US Companies List</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 all">
                <a href="#/admin/sourcing/whitepages">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2" style="height: 66px;">
                            <img src="assets/img/sourcing/whitepages.png" class="img_show" style="max-width: 260px; " />
                            <img src="assets/img/sourcing/whitepages.png" class="img_hide" style="max-width: 260px; " />
                        </div>
                    </div>
                    <div class="title">
                        <h3>Whitepages</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ======================= ./Sourcing Pages Menu Board ======================= -->

<!-- ================== Sourcing Pages Parts ===================== -->
<!-- ****************** Sourcing/DatabaseUSA ******************* -->
<app-database-usa *ngIf="_router == 'database-usa'" [sourcingData]="_sourcingData">
</app-database-usa>
<!-- ****************** Sourcing/Facebook ******************* -->
<app-facebook *ngIf="_router == 'facebook'" [sourcingData]="_sourcingData">
</app-facebook>
<!-- ****************** Sourcing/Full Contact Person ******************* -->
<app-full-contact-person *ngIf="_router == 'full-contact-person'" [sourcingData]="_sourcingData">
</app-full-contact-person>
<!-- ****************** Sourcing/Full Contact Company ******************* -->
<app-full-contact-company *ngIf="_router == 'full-contact-company'" [sourcingData]="_sourcingData">
</app-full-contact-company>
<!-- ****************** Sourcing/Glassdoor Company ******************* -->
<app-glassdoor-company *ngIf="_router == 'glassdoor-company'" [sourcingData]="_sourcingData">
</app-glassdoor-company>
<!-- ****************** Sourcing/Glassdoor Job ******************* -->
<app-glassdoor-job *ngIf="_router == 'glassdoor-job'" [sourcingData]="_sourcingData">
</app-glassdoor-job>
<!-- ****************** Sourcing/Google Maps ******************* -->
<app-google-maps *ngIf="_router == 'google-maps'" [sourcingData]="_sourcingData">
</app-google-maps>
<!-- ****************** Sourcing/Krystal ******************* -->
<app-krystal *ngIf="_router == 'krystal'" [sourcingData]="_sourcingData">
</app-krystal>
<!-- ****************** Sourcing/Licenses ******************* -->
<app-license *ngIf="_router == 'license'" [sourcingData]="_sourcingData">
</app-license>
<!-- ****************** Sourcing/LinkedIn ******************* -->
<app-linkedin *ngIf="_router == 'linkedin'" [sourcingData]="_sourcingData">
</app-linkedin>
<!-- ****************** Sourcing/NPI ******************* -->
<app-npi *ngIf="_router == 'npi'" [sourcingData]="_sourcingData">
</app-npi>
<!-- ****************** Sourcing/NPI Officer ******************* -->
<app-npi-officer *ngIf="_router == 'npi-officer'" [sourcingData]="_sourcingData">
</app-npi-officer>
<!-- ****************** Sourcing/Medicare Ambulatory ******************* -->
<app-medicare-ambulatory *ngIf="_router == 'medicare-ambulatory'" [sourcingData]="_sourcingData">
</app-medicare-ambulatory>
<!-- ****************** Sourcing/Medicare Dialysis ******************* -->
<app-medicare-dialysis *ngIf="_router == 'medicare-dialysis'" [sourcingData]="_sourcingData">
</app-medicare-dialysis>
<!-- ****************** Sourcing/Medicare Home Health ******************* -->
<app-medicare-home-health *ngIf="_router == 'medicare-home-health'" [sourcingData]="_sourcingData">
</app-medicare-home-health>
<!-- ****************** Sourcing/Medicare Hospital ******************* -->
<app-medicare-hospital *ngIf="_router == 'medicare-hospital'" [sourcingData]="_sourcingData">
</app-medicare-hospital>
<!-- ****************** Sourcing/Medicare Physician ******************* -->
<app-medicare-physician *ngIf="_router == 'medicare-physician'" [sourcingData]="_sourcingData">
</app-medicare-physician>
<!-- ****************** Sourcing/Medicare Nursing Home ******************* -->
<app-medicare-nursing-home *ngIf="_router == 'medicare-nursing-home'" [sourcingData]="_sourcingData">
</app-medicare-nursing-home>
<!-- ****************** Sourcing/Medicare Supplier ******************* -->
<app-medicare-supplier *ngIf="_router == 'medicare-supplier'" [sourcingData]="_sourcingData">
</app-medicare-supplier>
<!-- ****************** Sourcing/Pipl ******************* -->
<app-pipl *ngIf="_router == 'pipl'" [sourcingData]="_sourcingData">
</app-pipl>
<!-- ****************** Sourcing/Sovren ******************* -->
<app-sovren-resume *ngIf="_router == 'sovren-resume'" [sourcingData]="_sourcingData">
</app-sovren-resume>
<!-- ****************** Sourcing/US Companies List ******************* -->
<app-us-companies-list *ngIf="_router == 'us-companies-list'" [sourcingData]="_sourcingData">
</app-us-companies-list>
<!-- ****************** Sourcing/Whitepages ******************* -->
<app-whitepages *ngIf="_router == 'whitepages'" [sourcingData]="_sourcingData">
</app-whitepages>
<!-- ======================= ./Sourcing Pages Parts ====================== -->