.search-label-left {
    padding: 7px 0 13px;
}
.search-label-left span{
    background: #1192C4;
    color: #fff;
    padding:10px 15px;
    border-top-left-radius: 2px;
}
.search-label-left .pull-right {
    margin-right: 15px; 
    color: #337ab7;
}


.filter .filter-title {
    background: transparent;
    padding: 10px 15px 10px 15px;
    border-top: 1px solid #ddd;
    border-radius: 0;
}
.filter .filter-title .title {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}
.filter .filter-title .title .collapse-btn {
    color: #555;
    background: none;
    border: none;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding: 0;
}
.filter .filter-title .title .collapse-btn .icon-arrow {
    float: right;
}
.filter .filter-body {
    padding: 0 15px 15px 15px;
}
.filter .filter-body .filter-item .filter-check-label {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 12px;
    text-overflow: ellipsis;
    line-height: 16px;
    max-height: 19px;
}
.filter .filter-body .filter-item .filter-label-options {
    float: right;
    color: #337ab7;
}



#popover-content {
    display:none;
}
.popover-content-div h3 {
    font-size: 18px;
    font-family: Arial; 
}
.popover-content-div .timeline-div,
.popover-content-div .logical-operator-div,
.popover-content-div .experience-div,
.popover-content-div .radius-div {
    font-size: 12px; 
}
.popover-content-div .timeline-div .timeline-title,
.popover-content-div .logical-operator-div .logical-operator-title,
.popover-content-div .experience-div .experience-title,
.popover-content-div .radius-div .radius-title {
    margin-bottom: 2px;
}
.popover-content-div .timeline-div .timeline-select,
.popover-content-div .logical-operator-div .logical-operator-select,
.popover-content-div .experience-div .experience-row .experience-col .experience-input,
.popover-content-div .radius-div .radius-input {
    font-size: 12px; 
    padding: 4px 7px;  
    height: auto;
    border-radius: 0;
}
.popover-content-div .experience-div .experience-row {
    margin-left: -15px !important; 
    margin-right: -15px !important; 
    font-size: 12px;
}
.popover-content-div .experience-div .experience-row .experience-col {
    margin-bottom: 0;
}
.popover-content-div .submit-button-div {
    text-align: center;
}
.popover-content-div .submit-button-div .popover-submit-button {
    background: #1192C4;
    padding: 3px 7px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    border-color: #1192C4;
    border-radius: 0;
}



.filter .filter-body .add-filter-block {
    margin-top: 10px;
}
.filter .filter-body .add-filter-block .add-label-a {
    font-size: 12px;
    cursor: pointer;
    color: #337ab7;
}

[data-toggle="collapse"] .fa:before {  
  content: "\f0d8";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f0d7";
}

btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
a:hover,
a:active,
a:focus {
     outline: none;
}



