<div class="search-label-left">
    <span>Search People</span>
    <a class="pull-right" (click)="clearSearch()">Clear</a>
</div>

<div class="filter" *ngFor="let filter of filtersList">
    <div *ngIf="filter.isVisible && filter.label != 'Ready for a Change'">
        <div class="filter-title">
            <h4 class="title">
                <a class="btn btn-primary collapse-btn" [ngClass]="{'collapsed': !filter.isComputed}" data-toggle="collapse" href="#{{filter.name}}" role="button">
                    {{filter.label}}
                    <i class="fa icon-arrow"></i>
                </a>
            </h4>
        </div>

        <div class="collapse" id="{{filter.name}}" [ngClass]="{'show': filter.isComputed}">
            <div class="filter-body">
                <div class="filter-item" *ngFor="let cb of filter.buckets; let i = index">
                    <div *ngIf="filter.name !== 'lists'">
                        <input type="checkbox" class="filter-check-input" id="{{filter.name}}_{{cb.key}}_{{i}}" [(ngModel)]="cb.isSelected" (ngModelChange)="selectCheckedFacets(cb, filter)" (checked)="cb.isSelected">
                        <label class="filter-check-label" for="{{filter.name}}_{{cb.key}}_{{i}}">
                            {{cb.label}}
                        </label>

                        <a tabindex="0" class="filter-label-options" *ngIf="cb.isSelected && filter.name !== 'options' && (filter.HasLogicalOperator &&  filter.name !== 'lists' )"
                           (focus)="openOptionsPopover(cb.key, i, filter)" rel="popover" id="openPopover">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <div *ngIf="filter.name === 'lists' && cb.accountOwnerId === peopleData.accountId">
                        <input type="checkbox" class="filter-check-input" id="{{filter.name}}_{{cb.key}}_{{i}}" [(ngModel)]="cb.isSelected" (ngModelChange)="selectCheckedFacets(cb, filter)" (checked)="cb.isSelected">
                        <label class="filter-check-label" for="{{filter.name}}_{{cb.key}}_{{i}}">
                            {{cb.label}}
                        </label>

                        <a tabindex="0" class="filter-label-options" *ngIf="cb.isSelected && filter.name !== 'options' && (filter.HasLogicalOperator &&  filter.name !== 'lists' )"
                           (focus)="openOptionsPopover(cb.key, i, filter)" rel="popover" id="openPopover">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                </div>

                <div class="add-filter-block"> 
                    <a [hidden]="filter.isReplyFormOpen || !filter.isAddButton" (click)="addFilterOptionFunction(filter)"
                        class="add-label-a">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </a>
                    <div *ngIf="filter.isReplyFormOpen">
                        <form [formGroup]="addFilterOption" novalidate (ngSubmit)="submitAddFilterOption(filter)">
                            <div class="form-group">
                                <input type="text" *ngIf="filter.name === 'cities'" class="form-control add-new-filter-option-input" formControlName="addFacets" (input)="citiesChangeInputEvent()"
                                       ngxTypeahead [value]="cities" [taList]="citiesList" [taItemTpl]="itemTpl" (taSelected)="optionHandleResultSelected($event, filter.name)"
                                       (focusout)="addFilterOptionFunction(filter)" autofocus> 
                                       
                                <input type="text" *ngIf="filter.name === 'countries'" class="form-control add-new-filter-option-input" formControlName="addFacets" (input)="countriesChangeInputEvent()"
                                       ngxTypeahead [value]="countries" [taList]="countriesList" [taItemTpl]="itemTpl" (taSelected)="optionHandleResultSelected($event, filter.name)"
                                       (focusout)="addFilterOptionFunction(filter)" autofocus>
                                       
                                <input type="text" *ngIf="filter.name === 'states'" class="form-control add-new-filter-option-input" formControlName="addFacets" (input)="statesChangeInputEvent()"
                                       ngxTypeahead [value]="states" [taList]="statesList" [taItemTpl]="itemTpl" (taSelected)="optionHandleResultSelected($event, filter.name)"
                                       (focusout)="addFilterOptionFunction(filter)" autofocus>
                                       
                                <input type="text" *ngIf="filter.name === 'keywords'" class="form-control add-new-filter-option-input" formControlName="keywords"
                                       (focusout)="addFilterOptionFunction(filter)" autofocus>
                                
                                <input type="text" *ngIf="filter.name !== 'cities' && filter.name !== 'states' && filter.name !== 'countries' && filter.name !== 'keywords'" class="form-control add-new-filter-option-input" 
                                       formControlName="addFacets" taDisplayOnFocus="true" (input)="defaultChangeInputEvent(filter.conceptTypeId)" (focusout)="addFilterOptionFunction(filter)" 
                                       ngxTypeahead [value]="default" [taList]="defaultList" [taItemTpl]="itemTpl" (taSelected)="optionHandleResultSelected($event, filter.name)" autofocus>
                                       
                                <ng-template #itemTpl let-result class="list-item">
                                     <div>
                                         <span>{{ result.result.name }}</span>
                                     </div>
                                 </ng-template>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div *ngIf="filter.name === 'lists'" class="col-xs-12">
                    <div class="filter-title shared">
                        <h4 class="title">
                            <a class="btn btn-primary collapse-btn" [ngClass]="{'collapsed': !filter.isComputed}" data-toggle="collapse" href="#shared" role="button">
                                Shared
                                <i class="fa icon-arrow"></i>
                            </a>
                        </h4>
                    </div>
                    <div class="collapse" id="shared" [ngClass]="{'show': filter.isComputed}">
                        <div class="filter-body">
                            <div class="filter-item" *ngFor="let cb of filter.buckets; let i = index">
                                <div *ngIf="filter.name === 'lists' && cb.accountOwnerId !== peopleData.accountId">
                                    <input type="checkbox" class="filter-check-input" id="{{filter.name}}_{{cb.key}}_{{i}}" [(ngModel)]="cb.isSelected" (ngModelChange)="selectCheckedFacets(cb, filter)" (checked)="cb.isSelected">
                                    <label class="filter-check-label" for="{{filter.name}}_{{cb.key}}_{{i}}">
                                        {{cb.label}}
                                    </label>
                                    <a tabindex="0" class="filter-label-options" *ngIf="cb.isSelected && filter.name !== 'options' && (filter.HasLogicalOperator &&  filter.name !== 'lists' )"
                                        (focus)="openOptionsPopover(cb.key, i, filter)" rel="popover" id="openPopover">
                                         <i class="fa fa-cog"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
