.padding_0{
    padding:0;
}

.margin_0{
    margin: 0 !important;
}

.img_user_icon{
    max-width: 30px;
    width: 100%
}

.border_bottom_d{
    border-bottom:1px solid #ddd;
}

.meCheckbox [type="checkbox"]:not(:checked),
.meCheckbox [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.meCheckbox [type="checkbox"]:not(:checked) + label,
.meCheckbox [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

/* checkbox aspect */
.meCheckbox  [type="checkbox"]:not(:checked) + label:before,
.meCheckbox [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top:2px;
    width: 12px;
    height: 12px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 0;
}
/* checked mark aspect */
.meCheckbox [type="checkbox"]:not(:checked) + label:after,
.meCheckbox [type="checkbox"]:checked + label:after {
    font-family: FontAwesome;
    content: '\f00c ';
    position: absolute;
    top: 4px;
    left: 0px;
    font-size: 12px;
    line-height: 0.8;
    color: #1192C4;
    transition: all .2s;
}

.border_top_0{
    border-top: 0 !Important;
}

.font_normal{
    font-weight: normal;
}

.pull-right{
    padding-left: 20px;
    font-weight: normal;
    color: #999;
}

.color_999{
    color:#999;
}

.padding_15{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}