.padding_0{
    padding:0;
}

.margin_0{
    margin: 0 !important;
}

.img_user_icon{
    max-width: 30px;
    width: 100%
}

.border_bottom_d{
    border-bottom:1px solid #ddd;
}

.meCheckbox {
    display: inline;
    margin-top:  -5px;
}

.jobCheck {
    position: absolute;
    margin-top: 4px;
}

.border_top_0{
    border-top: 0 !Important;
}

.font_normal{
    font-weight: normal;
}

.pull-right{
    font-weight: normal;
    float: right !important;
}

.width_100{
    width: 100%;
}

.color_999{
    color:#999;
}

.padding_15{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}