<!--<nav class="navbar navbar-default navbar-fixed-top nav-parent">
    <a class="navbar-brand brand-a" href="http://www.rekruti.com/#/main/">
        <img class="brand-img" src="assets/img/logo.png"> 
    </a>
</nav>-->






<nav class="navbar navbar-expand-lg navbar-light navbar-default navbar-fixed-top nav-parent">
    <a class="navbar-brand brand-a" href="http://www.rekruti.com/#/main/">
        <img class="brand-img" src="assets/img/logo.png"> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="nav nav-pills mr-auto" id="pills-tab" role="tablist">
            <li class="nav-item nav-item-custome">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">My Profile</a>
            </li>
            <li class="nav-item nav-item-custome">
              <a class="nav-link active" id="pills-people-tab" data-toggle="pill" href="#pills-people" role="tab" aria-controls="pills-people" aria-selected="true">People</a>
            </li>
            <li class="nav-item nav-item-custome">
              <a class="nav-link" id="pills-jobs-tab" data-toggle="pill" href="#pills-jobs" role="tab" aria-controls="pills-jobs" aria-selected="false">Jobs</a>
            </li>
            <li class="nav-item nav-item-custome">
              <a class="nav-link" id="pills-employers-tab" data-toggle="pill" href="#pills-employers" role="tab" aria-controls="pills-employers" aria-selected="false">Employers</a>
            </li>
            <li class="nav-item nav-item-custome">
              <a class="nav-link" id="pills-tasks-tab" data-toggle="pill" href="#pills-tasks" role="tab" aria-controls="pills-tasks" aria-selected="false">Tasks</a>
            </li>
        </ul>
        
        <ul class="navbar-nav my-2 my-lg-0">
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="dropdown-title">test test</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item custome-item" href="#"><fa class="dropdown-icon" name="user"></fa>Account</a>
                    <a class="dropdown-item custome-item" href="#"><fa class="dropdown-icon" name="level-up"></fa>Upgrade</a>
                    <a class="dropdown-item custome-item" href="#"><fa class="dropdown-icon" name="line-chart"></fa>Statistic</a>
                    <a class="dropdown-item custome-item" href="#"><fa class="dropdown-icon" name="database"></fa>Sourcing</a>
                    <a class="dropdown-item custome-item" href="#"><fa class="dropdown-icon" name="cogs"></fa>Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item custome-item" href="#"><fa class="dropdown-icon" name="question"></fa>Help</a>
                    <a class="dropdown-item custome-item" href="#"><fa class="dropdown-icon" name="compress"></fa>Contact us</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item custome-item" href="#"><fa class="dropdown-icon" name="sign-out"></fa>Logout</a>
                </div>
            </li>
        </ul>
       
    </div>
    
</nav>
