<ng-sidebar-container class="jobs-page-container">

    <ng-sidebar [(opened)]="_opened" [(mode)]="_sidebarMode" [(autoCollapseWidth)]="_autoCollapseWidth"
                class="sidebar-container">
        <app-jobs-sidebar></app-jobs-sidebar>
    </ng-sidebar>

    <div ng-sidebar-content class="jobs-aria" #top>
        <div class="container jobs-list-container search-bar">
            <app-jobs-search-bar></app-jobs-search-bar>
        </div>

        <div class="container jobs-list-container content-aria">
            <app-jobs-list></app-jobs-list>
        </div>
    </div>

</ng-sidebar-container>

<!-- ============== jobs modals part ================ -->
<app-jobs-detail-modal [chosenItem]="jobsDetailData" [modalType]="modalType"></app-jobs-detail-modal>
<app-company-detail-modal [chosenItem]="companyDetailData" [modalType]="modalType"></app-company-detail-modal>
<app-detail-edit-modal [modalType]="modalType"></app-detail-edit-modal>

<!-- ============= ./jobs modals part ===============  [queryJson]="_queryJson" -->