<div class="row">
    <div class="col col-1 filters-toggle">
        <button class="filters-button" *ngIf="windowWidth <= _autoCollapseWidth" (click)="_toggleSidebar()">
            <fa name="filter"></fa>
        </button>
    </div>
    <div class="col col-10">
        <div class="form-search-people">
            <form [formGroup]="searchSourcingForm" novalidate (ngSubmit)="submitSearch(searchKeyword)">
                <div class="step-group search-step-group">
                    <div class="form-row">
                        <input type="string" class="form-control input-control search-input" id="searchKeyword"
                               placeholder="Search" [(ngModel)]="searchKeyword" formControlName="searchKeyword">
                        <button type="submit" class="search-submit-button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
