<!--tags-->
<div class="border_bottom_d body_content_profile">
    <div class="padding_15">
        <div class="padding_bottom_15">
            <div class="col-xs-9 margin_0 padding_0">
                <h4 class="">
                    <img src="assets/img/icon-person/tag-cloud.png" class="img_user_icon" />&nbsp; Tag
                </h4>
            </div>
        </div>
        <div class="">
            <div class="col-xs-12 padding_0 margin_0" id="tagcloud" *ngIf="itemData.concepts" >
                <span *ngFor="let obj of itemData.concepts; let i = index" class="tag_left_buckets">
                    <span *ngIf="!obj.description">{{obj.name}}</span>
                    <span class="ds" *ngIf="obj.description" [ngbPopover]="obj.description" triggers="mouseenter:mouseleave" [popoverTitle]="obj.name" >{{obj.name}}</span>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- bio -->
<div *ngIf="type === 'people' && currentUser.id === itemData.id" class="border_bottom_d body_content_profile">
    <div class="padding_15">
        <h3 class="row">
            <img src="assets/img/icon-person/bio.png" class="img_user_icon" />&nbsp;Bio
            <a href="" [hidden]="security.isEditSummary == false" (click)="openEditBio(itemData)" class="pull-right font-13" title="Edit summary" style=""><i class="fa fa-pencil-square-o"></i></a>
        </h3>
        <div class="table-responsive profile_ctn" style="padding:10px;padding-left:0px" ng-bind-html="itemData.summary">
        </div>
    </div>
</div>

<!-- Experience-->
<div class="border_bottom_d body_content_profile" *ngIf="type === 'people' && (itemData.experiences || itemData.security.isAddExperience == true)">
    <div class="padding_15" >
        <h4 >
            <img src="assets/img/icon-person/experience.png" class="img_user_icon" />&nbsp;Experience
            <a href="" [hidden]="itemData.security.isAddExperience == false" (click)="openAddExperience(itemData.id)" class="pull-right font-13" title="Add experience" data-toggle="modal" data-target="#editModal"><i class="fa fa-plus"></i></a>
        </h4>
        <div class=" table-responsive profile_ctn">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let obj of itemData.experiences; let i = index">
                        <td class="border_top_0" style="width: 75%; padding-left:0px">
                            <p class="font_bold" style="margin-bottom: 0;">{{obj.title}}</p>
                            <p style="font-weight: normal; margin-bottom: 0;">{{obj.company}}</p>
                            <p class="color_999" style="font-weight: normal; margin-bottom: 0;">{{obj.cityName}}</p>
                            <p *ngIf="obj.summary" class="" style="font-weight: normal; margin-bottom: 0; color: #888888;" ng-bind-html="obj.summary"></p>
                        </td>
                        <td [hidden]="obj.isCurrent" class="color_999 border_top_0" style="width: 25%; text-align: right; ">
                            {{obj.startYear}} <span [hidden]="obj.startYear === null">-</span> {{obj.endYear}}
                        </td>
                        <td [hidden]="!obj.isCurrent" class="color_999 border_top_0" style="width: 25%; text-align: right; ">
                            {{obj.startYear}} <span [hidden]="obj.startYear === null">-</span> Present
                        </td>
                        <td *ngIf="itemData.security.isEditExperience == true" class="border_top_0 text_align_right" style="width:20px; padding-right:0px;">
                            <a href="" (click)="openEditExperience(itemData.id, obj)" class="pull-right font-13" title="Edit experience" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

 <!--Education-->
<div class="border_bottom_d body_content_profile" *ngIf="type === 'people' && (itemData.educations || itemData.security.isAddEducation == true)">
    <div class="padding_15">
        <h4 >
            <img src="assets/img/icon-person/education.png" class="img_user_icon" />&nbsp;Education
            <a href="" [hidden]="itemData.security.isAddEducation == false" (click)="openAddEducation(itemData.id)" class="pull-right font-13" title="Add education" data-toggle="modal" data-target="#editModal"><i class="fa fa-plus"></i></a>
        </h4>
        <div class="profile_ctn table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let obj of itemData.educations; let i = index">
                        <td class="border_top_0" style="width: 75%; padding-left:0px">
                            <p class="font_bold" style="margin-bottom: 0;">{{ obj.title }}</p>
                            <p style="font-weight: normal; margin-bottom: 0;">{{obj.company}}</p>
                            <p class="color_999" style="font-weight: normal; margin-bottom: 0;">{{obj.cityName}}</p>
                            <p *ngIf="obj.summary" style="font-weight: normal; margin-bottom: 0; color: #888888;" ng-bind-html="obj.summary"></p>
                        </td>
                        <td class="color_999 border_top_0" style="width: 25%; text-align: right; ">
                            {{obj.endYear}}
                        </td>
                        <td *ngIf="itemData.security.isEditEducation == true" class="border_top_0 text_align_right" style="width:20px; padding-right:0px;">
                            <a href="" (click)="openEditEducation(itemData.id, obj)" class="pull-right font-13" title="Edit education" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

 <!--Certifications-->
<div class="border_bottom_d body_content_profile" *ngIf="type === 'people' && currentUser.id === itemData.id && itemData.certifications != null && (itemData.certifications.length > 0 || itemData.security.isAddCertification == true)">
    <div class="padding_15">
        <h3 class="row">
            <img src="assets/img/icon-person/certificate.png" class="img_user_icon" />&nbsp;Certification
            <a href="" [hidden]="itemData.security.isAddCertification == false" (click)="openAddCertification(itemData.id)" class="pull-right font-13" title="Add certification" data-toggle="modal" data-target="#editModal"><i class="fa fa-plus"></i></a>
        </h3>
        <div class="profile_ctn table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let obj of itemData.certifications; let i = index">
                        <td class="border_top_0" style="padding-left:0px">
                            <strong *ngIf="obj.title != 'null' && obj.title != 'undefined'">{{obj.title}}</strong>
                            <div class="color_777 padding_bottom_15">
                                <div class="color_999">
                                    <span *ngIf="obj.startMonth !== 0">{{obj.startMonth}} </span>
                                    <span *ngIf="obj.startYear !== 0">{{obj.startYear}} </span>
                                    <span *ngIf="obj.startYear !== 0 && ((obj.endYear && obj.endYear !== 0) || obj.isCurrent === true)">-</span>
                                    <span *ngIf="obj.isCurrent === false || obj.isCurrent === null">
                                        <span *ngIf="obj.endMonth !== 0" ng-bind-html="obj.endMonth"></span>
                                        <span *ngIf="obj.endYear !== 0" ng-bind-html="obj.endYear"></span>
                                    </span>
                                    <span *ngIf="obj.isCurrent === true">
                                        Present
                                    </span>
                                </div>
                                <div *ngIf="obj.summary != 'null' && obj.summary != 'undefined'" ng-bind-html="obj.summary" class="text_align_justify line-break"></div>
                            </div>
                        </td>
                        <td *ngIf="itemData.security.isEditCertification == true" class="border_top_0 text_align_right" style="width:20px; padding-right:0px;">
                            <a href="" (click)="openEditCertification(itemData.id, obj)" class="pull-right font-13" title="Edit education" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
 </div>

 <!--Licenses-->
<!-- <div class="border_bottom_d body_content_profile" *ngIf="type === 'people' && itemData.licenses != null && (itemData.licenses.length > 0 || itemData.security.isAddLicense == true)"> -->
<div class="border_bottom_d body_content_profile" *ngIf="type === 'people' && itemData.security.isAddLicense == true">
    <div class="padding_15" >
        <h4>
            <img src="assets/img/icon-person/licenses.png" class="img_user_icon" />&nbsp;License
            <a href="" [hidden]="itemData.security.isAddLicense == false" (click)="openAddLicense(itemData.id)" class="pull-right font-13" title="Add license" data-toggle="modal" data-target="#editModal"><i class="fa fa-plus"></i></a>
        </h4>
        <div class="profile_ctn table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let obj of itemData.licenses; let i = index">
                        <td class="font_bold border_top_0" style="width: 55%; padding-left:0px">
                            {{obj.title}}
                        </td>
                        <td class="color_999 border_top_0" style="width: 25%;">
                            {{obj.number + ' (' + obj.state}})
                        </td>
                        <td class="color_999 border_top_0" style="text-align: right; width: 20%;">
                            {{ obj.startingDate | date : 'yyyy' }} - {{ obj.expirationDate | date : 'yyyy' }}
                        </td>
                        <td *ngIf="itemData.security.isEditLicense" class="border_top_0 text_align_right" style="width:20px; padding-right:0px;">
                            <a href="" (click)="openEditLicense(itemData.id, obj)" class="pull-right font-13" title="Edit license" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Viewed-->
<div class="border_bottom_d body_content_profile" *ngIf="type === 'people' && itemData.views != null && itemData.views.length > 0">
    <div class="padding_15" >
        <h4>
            <img src="assets/img/icon-person/eye.png" alt="" class="icon_profile" />&nbsp;Viewed
        </h4>
        <div class="padding_0 margin_0 padding_top_15">
            <div class=" table-responsive padding_top_3">
                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let obj of itemData.views; let i = index">
                            <td class="border_top_0" style="padding-left: 0px;">
                                <div class="">{{obj.accountName}}</div>
                                <div class="color_999">{{obj.organizationName}}</div>
                            </td>
                            <td class="text_align_right border_top_0" style="padding-right: 15px;">
                                {{obj.viewDate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Source-->
<div class="border_bottom_d body_content_profile" *ngIf="itemData.sources != null && itemData.sources.length > 0">
    <div class="padding_15">
        <h4 class="">
            <img src="assets/img/icon/source.png" class="img_user_icon" />&nbsp;Source
        </h4>
        <!-- slightly different between people and employers -->
        <div class="profile_ctn table-responsive" *ngIf="type == 'people'">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let obj of itemData.sources; let i = index">
                        <td class="font_bold border_top_0" style="width: 55%; padding-left:0px">
                            <a href="" (click)="openSource(itemData.id, obj.id)" data-toggle="modal" data-target="#editModal">{{obj.name}}</a>
                        </td>
                        <td class="color_999 border_top_0" style="width: 25%;">
                            {{obj.sourceTypeName}}
                        </td>
                        <td class="color_999 border_top_0" style="text-align: right; width: 20%;">
                            {{obj.sourceDate| date:'yyyy-MM-dd'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- slightly different between people and employers -->
        <div class="profile_ctn table-responsive" *ngIf="type == 'employer'">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let obj of itemData.sources; let i = index">
                        <td class="font_bold border_top_0" style="width: 55%; padding-left:0px">
                            <a href="" (click)="openSource(itemData.id, obj.id)" data-toggle="modal" data-target="#editModal">{{obj.name}}</a>
                        </td>
                        <td class="color_999 border_top_0" style="width: 25%;">
                            {{obj.sourceTypeName}}
                        </td>
                        <td class="color_999 border_top_0" style="text-align: right; width: 20%;">
                            {{obj.sourceDate| date:'yyyy-MM-dd'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>