 <!-- Modal -->
<div class="modal fade" id="conceptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row header_right_popup">
          
          <div class="col-md-5 padding_0 div_title">
              <h5 class="h3_title" style="font-weight: bold;">{{modalTitle}}</h5>
          </div>
          <div class="col-md-7 text-right">
              <button class="btn btn-success div_btn_action" title="Save" (click)="saveConcept(itemData, forAdd);">
                  <i class="fa fa-check"></i> Save
              </button>
              <button class="btn btn-danger div_btn_action" *ngIf="!forAdd" title="Delete" (click)="deleteConcept(itemData);">
                  <i class="fa fa-trash"></i> Delete
              </button>
              <button class="btn btn-warning div_btn_action" title="Cancel" data-dismiss="modal" #btn_cancel>
                  <i class="fa fa-undo"></i> Cancel
              </button>
          </div>
          <div class="border_top_d padding_0 col-xs-12"></div>
      </div>

      <div class="padding_15">
          <form name="form" role="form" *ngIf="itemData">
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="name" class="me_required">Concept *</label>
                      <input type="text" name="name" id="name" class="form-control" [(ngModel)]="itemData.name" required />
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="conceptTypeId" class="me_required">Concept Type *</label>
                      <select name="conceptTypeId" id="conceptTypeId" class="form-control" [(ngModel)]="itemData.conceptTypeId" required>
                        <option [ngValue]="ConceptType.id" *ngFor="let ConceptType of listConceptType">{{ConceptType.name}}</option>
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="definition" class="me_required">Definition</label>
                      <textarea rows="5" name="definition" id="definition" class="form-control" [(ngModel)]="itemData.definition" required>
                      </textarea>
                  </div>
              </div>
              <div class="margin_0 padding_0">
                  <div class="form-group">
                      <div>
                          <input type="checkbox" id="isHiddenFacet" [(ngModel)]="itemData.isHiddenFacet" name="shareWithCollegue" style="position: absolute; margin-top: 4px;" />
                          <label for="isHiddenFacet" style="margin-left: 16px;">Hide from search facet</label>
                      </div>
                  </div>
              </div>
          </form>
      </div>
        </div>
    </div>
  </div>

</div>
