.tab_profile{
    margin-bottom: 0 !important;
    /*overflow: hidden;*/
    clear: both;
    padding-top: 20px;
}

.bg_fff{
    background: #fff;
}

/*:host { color: gray; }

:host ::ng-deep .tabset1 a.nav-link {
  color: green;
}

:host ::ng-deep .tabset1 a.nav-link.active {
  color: red;
  font-weight: bold;
}*/

.text_align_center{
    text-align: center;
}

.padding_15{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

a{
    color:#337ab7 !important;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
	color:#ff6b00 !important;
    text-decoration: none;
}
a:active{
    color:#337ab7 !important;
    text-decoration: none;
}
a:focus{
    color:#337ab7 !important;
    text-decoration: none;
}