<div class="tab_profile bg_fff" [ngClass]="{'col-xs-12 padding_0' : windowWidth < 768}">
    <ngb-tabset class="tabset1 nav-fill" [justify]="fill" (tabChange)="setTab($event)">
		<ngb-tab title="Profile" id="tab0">
			<ng-template ngbTabContent>
				<app-tab-profile 
					[type]="type"
              		[itemData]="itemData"
              		*ngIf="itemData.security"
				>
				</app-tab-profile>
			</ng-template>
		</ngb-tab>
		<ngb-tab title="Contact tab" id="tab1">
			<ng-template ngbTabContent>
				<app-tab-contact
					[type]="type"
					[itemData]="itemData"
					*ngIf="itemData.security"
				>
				</app-tab-contact>
			</ng-template>
		</ngb-tab>
		<ngb-tab *ngIf="type === 'people'" title="Job Req" id="tab2">
			<ng-template ngbTabContent>
				<app-tab-job-req
					[jobReq]="jobReq"
					[itemData]="itemData"
				>
				</app-tab-job-req>
			</ng-template>
		</ngb-tab>
		<ngb-tab *ngIf="type === 'people'" title="Note" id="tab3">
			<ng-template ngbTabContent>
				<app-tab-note
					[itemData]="itemData"
				>
				</app-tab-note>
			</ng-template>
		</ngb-tab>
		<ngb-tab *ngIf="type === 'people'" title="Document" id="tab4">
			<ng-template ngbTabContent>
				
			</ng-template>
		</ngb-tab>
		
	</ngb-tabset>

</div>

 <div class="text_align_center padding_15" *ngIf="type === 'people'">
    <a (click)="openFullPage(itemData.id)">Full Page View</a>
</div>