 <!-- Modal -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="itemData">
        <div class="modal-body">
            <div class="row header_right_popup">
          
          <div class="col-md-5 padding_0 div_title">
              <h5 class="h3_title" style="font-weight: bold;">{{modalTitle}}</h5>
          </div>
          <div class="col-md-7 text-right">
              <button *ngIf="!forAdd" class="btn btn-success div_btn_action" title="Save" [disabled]="!itemData.email || !itemData.name || !itemData.organizationId || !itemData.accountTypeId || !itemData.accountProfileId" (click)="saveAccount(itemData, forAdd);">
                  <i class="fa fa-check"></i> Save
              </button>
              <button *ngIf="forAdd" class="btn btn-success div_btn_action" title="Save" [disabled]="!itemData.email || !itemData.name || !itemData.organizationId || !itemData.accountTypeId || !itemData.accountProfileId || !itemData.password_new || !itemData.confirm_password" (click)="saveAccount(itemData, forAdd);">
                  <i class="fa fa-check"></i> Save
              </button>
              <button class="btn btn-warning div_btn_action" title="Cancel" data-dismiss="modal" #btn_cancel>
                  <i class="fa fa-undo"></i> Cancel
              </button>
          </div>
          <div class="border_top_d padding_0 col-xs-12"></div>
      </div>

      <div class="padding_15">
          <form name="form" role="form">
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="email" class="me_required">Email </label>
                      <input type="email" name="email" id="email" class="form-control" [(ngModel)]="itemData.email" required *ngIf="forAdd" />
                      <input type="email" name="email" id="email" class="form-control" [(ngModel)]="itemData.email" required *ngIf="!forAdd" disabled style="cursor: not-allowed;" />
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="name" class="me_required">Name </label>
                      <input type="text" name="name" id="name" class="form-control" [(ngModel)]="itemData.name" required />
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="organizationId" class="me_required">Client</label>
                      <select name="organizationId" id="organizationId" class="form-control" [(ngModel)]="itemData.organizationId" required>
                        <option value="" *ngIf="forAdd">--Select--</option>
                        <option [ngValue]="organizationId.id" *ngFor="let organizationId of list_organizationId">{{organizationId.displayId}}{{organizationId.name}}({{organizationId.cityName}})</option>
                    </select>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="accountTypeId" class="me_required">Account Type </label>
                      <select name="accountTypeId" id="accountTypeId" class="form-control" [(ngModel)]="itemData.accountTypeId" required>
                        <option value="" *ngIf="forAdd">--Select--</option>
                        <option [ngValue]="accountTypeName.id" *ngFor="let accountTypeName of list_accountTypeName">{{accountTypeName.name}}</option>
                    </select>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="accountProfileId" class="me_required">Profile </label>
                      <select name="accountProfileId" id="accountProfileId" class="form-control" [(ngModel)]="itemData.accountProfileId" required>
                        <option value="" *ngIf="forAdd">--Select--</option>
                        <option [ngValue]="accountProfileId.id" *ngFor="let accountProfileId of list_accountProfileId">{{accountProfileId.name}}</option>
                    </select>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="accountAllowanceId" class="">Monthly Credits</label>
                      <select name="accountAllowanceId" id="accountAllowanceId" class="form-control" [(ngModel)]="itemData.accountAllowanceId" required>
                        <option value="" *ngIf="forAdd">--Select--</option>
                        <option [ngValue]="monthlyAllowance.id" *ngFor="let monthlyAllowance of list_monthlyAllowance">{{monthlyAllowance.name}}</option>
                    </select>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="cellPhone" class="">Cell Phone</label>
                      <input type="text" name="cellPhone" id="cellPhone" class="form-control" [(ngModel)]="itemData.cellPhone" required />
                  </div>
              </div>

              <div class="row" *ngIf="forAdd">
                  <div class="form-group col-md-12">
                      <label for="password_new" class="me_required">Password </label>
                      <input type="password" name="password_new" id="password_new" class="form-control" [(ngModel)]="itemData.password_new" required />
                  </div>
              </div>
              <div class="row" *ngIf="forAdd">
                  <div class="form-group col-md-12">
                      <label for="confirm_password" class="me_required">Confirm password </label>
                      <input type="password" name="confirm_password" id="confirm_password" class="form-control" [(ngModel)]="itemData.confirm_password" required />
                  </div>
              </div>

              <div class="margin_0 padding_0" *ngIf="!forAdd">
                  <div class="form-group">
                      <div>
                          <input type="checkbox" id="isDeactivated" [(ngModel)]="itemData.isDeactivated" name="shareWithCollegue" style="position: absolute; margin-top: 4px;" />
                          <label for="isDeactivated" style="margin-left: 16px;">Deactivated</label>
                      </div>
                  </div>
              </div>
          </form>
      </div>
        </div>
    </div>
  </div>

</div>
