<div>
    <!--Add notes-->
    <div class="padding_15">
        <form name="form" #form="ngForm" role="form">
            <div class="form-group">

                <!-- <textarea rows="4" name="note" id="note" class="form-control" placeholder="Enter notes about {{itemData.fullName}}" (change)="changeNote($event)" [(ngModel)]="note.note" required ></textarea> -->
                <ckeditor [(ngModel)]="note.note" #myckeditor [config]="ckeConfig" (change)="changeNote($event)" name="note" required></ckeditor>
            </div>
            <table class="table-responsive width_100">
            	<tbody class="position_display width_100">
            		
	                <tr class="position_display width_100">
	                    <td class="padding_0 position_display">
	                        <div class="search_checkBox padding_0">
	                            <div style="margin-bottom:5px">
	                                <input name="isShared" type="checkbox" id="isShared" [(ngModel)]="note.isShared" [disabled]="!note.isSharedEveryone"/>
	                                <label for="isShared" class="meCheckbox">Share with Colleagues</label>
	                            </div>
	                        </div>
	                        <div class="search_checkBox padding_0">
	                            <div style="margin-bottom:5px">
	                                <input name="isSharedEveryone" type="checkbox" id="isSharedEveryone" [(ngModel)]="note.isSharedEveryone"/>
	                                <label for="isSharedEveryone" class="meCheckbox">Share with Everyone</label>
	                            </div>
	                        </div>
	                    </td>
	                    <td class="text_align_right padding_0 position_display" style="vertical-align:top; float: right">
	                        <div class="margin_0">
	                            <button type="submit" class="btn btn-success" (click)="saveNote(itemData.id, note)" [disabled]="form.invalid" title="Save">
	                                <i class="fa fa-check"></i> Save
	                            </button>
                                {{' '}}
	                            <button *ngIf="note.id != null" (click)="cancelNote()" class="btn btn-warning" title="Cancel">
	                                <i class="fa fa-undo"></i> Cancel
	                            </button>
	                        </div>
	                    </td>
	                </tr>
            	</tbody>
            </table>
        </form>
    </div>
    <!--List of Notes-->
    <div class="padding_15" style="padding-bottom:40px; padding-left: 0; padding-right: 0;">
        <table class="table table-hover" style="width:100%" *ngIf="itemData.notes != null && itemData.notes.length > 0">
            <tbody>
                <tr class="" *ngFor="let obj of itemData.notes;" (click)="loadNote(obj)" style="padding: 0 15px;">
                    <td style="padding: 15px;">
                        <span class="color_999">{{obj.accountName}}</span>
                        <div class="text_align_justify list_notes" ng-bind-html="obj.note">
                            {{obj.note}}
                        </div>
                    </td>
                    <td class="color_999 text_align_right" style="padding: 15px;">
                        {{obj.postDate| date:"yyyy-MM-dd"}}
                        <div class="pull-right" style="margin-left: 5px;" *ngIf="obj.accountId == currentUser.accountId">
                            <a href="" style="color: red;" (click)="deleteNote(obj.id)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="border_bottom_d padding_0 margin_0"></div>