 <!-- Modal -->
<div class="modal fade" id="ExportToCsvModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row header_right_popup">
          
          <div class="col-md-5 padding_0 div_title">
              <h5 class="h3_title" style="font-weight: bold;">Export to CSV</h5>
          </div>
          <div class="col-md-7 text-right">
              <button class="btn btn-success div_btn_action" title="Save" (click)="saveExportCsv(itemData);" [disabled]="(itemData.from < 1) || (itemData.size > 200)">
                  <i class="fa fa-check"></i> Save
              </button>
              <button class="btn btn-warning div_btn_action" title="Cancel" data-dismiss="modal" #btn_cancel>
                  <i class="fa fa-undo"></i> Cancel
              </button>
          </div>
          <div class="border_top_d padding_0 col-xs-12"></div>
      </div>

      <div class="padding_15">
          <form name="form" role="form">
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="from" class="me_required">Start at entry </label>
                      <input type="number" name="from" id="from" min="1" class="form-control" [(ngModel)]="itemData.from" required />
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="size" class="me_required">Maximum number of entries </label>
                      <input type="number" name="size" id="size" max="200" class="form-control" [(ngModel)]="itemData.size" required autocomplete="off" />
                  </div>
              </div>
          </form>
      </div>
        </div>
    </div>
  </div>

</div>
