
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #e5e5e5 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    overflow-scrolling: touch;

    font-size: 13px;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555;
    line-height: 22px;
}

.ng-sidebar {
    background-color: white;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
    font-size: 13px;
    z-index: 999 !important;
}

.ng-sidebar__content {
    left: 20% !important;
    padding: 0 !important;
}

.help-bubble .ng-sidebar__content {
    left: 0% !important;
}

.ng-sidebar__backdrop {
    opacity: 0.55 !important;
}

.modal-backdrop {
    z-index: 999 !important;
}

.modal-backdrop.show {
    opacity: .3 !important;
}

.modal {
    z-index: 9999 !important;
}

.ngx-pagination {
    padding: 0;
}

.ngx-pagination .current {
    background: #1192c4;
}

./*popover {
    min-width: 350px;
    min-height: 215px;
    left: 4px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 12px;
    z-index: 9999;
}

.popover-body {
    padding: 15px;
}*/

.ta-results {
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.ta-item {
    position: relative;
    z-index: 2;
    display: block;
    font-size: 12px;
    text-align: left;
    padding: 3px 20px;
    border: none;
}

.list-group-item.active {
    color: #fff;
    background-color: #1192c4;
    border-color: #1192c4;
}

.popover-content-div h3 {
    font-size: 18px;
    font-family: Arial;
}

.popover-content-div .timeline-div,
.popover-content-div .logical-operator-div,
.popover-content-div .experience-div,
.popover-content-div .radius-div {
    font-size: 12px;
}

.popover-content-div .timeline-div .timeline-title,
.popover-content-div .logical-operator-div .logical-operator-title,
.popover-content-div .experience-div .experience-title,
.popover-content-div .radius-div .radius-title {
    margin-bottom: 2px;
}

.popover-content-div .timeline-div .timeline-select,
.popover-content-div .logical-operator-div .logical-operator-select,
.popover-content-div .experience-div .experience-row .experience-col .experience-input,
.popover-content-div .radius-div .radius-input {
    font-size: 12px;
    padding: 4px 7px;
    height: auto;
    border-radius: 0;
}

.popover-content-div .experience-div .experience-row {
    margin-left: -15px !important;
    margin-right: -15px !important;
    font-size: 12px;
}

.popover-content-div .experience-div .experience-row .experience-col {
    margin-bottom: 0;
}

.popover-content-div .submit-button-div {
    text-align: center;
}

.popover-content-div .submit-button-div .popover-submit-button {
    background: #1192C4;
    padding: 3px 7px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    border-color: #1192C4;
    border-radius: 0;
}

@media only screen and (max-width: 1100px) {
    .ng-sidebar {
        width: 35%;
    }

    .ng-sidebar__content {
        left: 0 !important;
    }
}

@media only screen and (max-width: 600px) {
    .ng-sidebar {
        width: 50%;
    }
}

tr.active {
    background: #1091c4 !important;
    color: #fff !important;
}
tr.active a {
    color: #fff !important;
}
tr.active p {
    color: #fff !important;
}
tr.active td {
    color: #fff !important;
}
.table-responsive {
    overflow-x: hidden !important;
}
.search-step-group .search-submit-button {
    padding: 2px 12px !important;
    border-width: 1px !important;
}
a {
    color:#337ab7 !important;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
  color:#ff6b00 !important;
    text-decoration: none;
}
a:active{
    color:#337ab7 !important;
    text-decoration: none;
}
a:focus{
    color:#337ab7 !important;
    text-decoration: none;
}

.people-list-td.active a {
    color: #fff !important;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:active {
    color: #fff;
    background-color: #286090;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}
label.me_required:before {
    content: '*';
    float: right;
    padding-left: 5px;
    color: #ff6600;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.btn:focus {
    box-shadow: none !important;
}
.modal-body {
    padding-left: 0px;
    padding-right: 0px;
}
.row.header_right_popup {
    margin-right: 0px;
    margin-left: 0px;
}
.row.header_right_popup h5 {
    margin-left: 15px;
    margin-right: 15px;
}
button[disabled], a[disabled] {
    cursor: not-allowed;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff9800; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

a:focus:hover {
    color: #ff6b00 !important;
}