<div class="row list-header">
    <div class="col col-6 results-col">
        {{peopleData.total | currency: "": "": "0.0-0": "" }}
        <span *ngIf="peopleData.total === 0">result</span>
        <span *ngIf="peopleData.total > 0">results</span>
    </div>
    <div class="col col-6 sort-col">
        <div class="input-group search_sort" *ngIf="searchSortArray">
            <span class="input-group-addon">sort</span>
            <select name="searchSort" id="searchSort" class="form-control" [(ngModel)]="searchSort"
                    (ngModelChange)="searchSortMain()">
                <option *ngFor="let obj of searchSortArray" [value]="obj.value">
                    {{obj.label}}
                </option>
            </select>
        </div>
    </div>
</div>

<div class="active-filters-list" *ngIf="hasBucketSelected">
    <span *ngFor="let filter of searchAggregations">
        <span *ngIf="filter.isVisible">
            <span *ngFor="let bk of filter.buckets">
                <div *ngIf="bk.isSelected" class="filter-div">
                    <span>{{bk.label}}</span>
                    <a class="remove-active-tag" (click)="removeBucket(bk)">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </span>
        </span>
    </span>
    <a (click)="clearSearch()" class="reset-tag-buckets">Reset</a>
</div>

<div class="table-responsive" *ngIf="peopleData.hits.length > 0">
    <table class="table table-hover">
        <tbody>
        <tr *ngFor="let item of peopleList | paginate: { id: config.id, itemsPerPage: config.itemsPerPage, currentPage: config.currentPage, totalItems: peopleData.total }">
            <td class="people-list-td"  [ngClass]="checkActiveItem(item.id)" #list>
                <div class="people-list-item-div">
                    <div class="avatar-container" (click)="openDetailsModal(item)" data-toggle="modal" data-target="#detailsModal">
                        <a>
                            <img *ngIf="item.pictureKey" src="{{urlImg}}{{item.pictureKey}}" alt="{{item.fullName}}"/>
                            <img class="default-img" *ngIf="!item.pictureKey" src="assets/img/user-new.png"
                                 alt="{{item.fullName}}"/>
                        </a>
                    </div>
                    <div class="details-container">
                        <div class="row item-title-div" (click)="openDetailsModal(item)" data-toggle="modal" data-target="#detailsModal">
                            <div class="col">
                                <a class="people-item-title-name" >
                                    <h3>{{item.fullName}}</h3>
                                </a>
                            </div>
                            <div class="col item-contact-div">
                                <a class="option" title="View email" *ngIf="item.hasEmail" (click)="openModalByTab(item, 'contact')" data-toggle="modal" data-target="#detailsModal">
                                    <fa name="envelope-o"></fa>
                                </a>
                                <a class="option" title="View phone" *ngIf="item.hasPhone" (click)="openModalByTab(item, 'contact')" data-toggle="modal" data-target="#detailsModal">
                                    <fa name="phone"></fa>
                                </a>
                                <a class="option" title="View facebook" *ngIf="item.hasFacebook" (click)="openModalByTab(item, 'contact')" data-toggle="modal" data-target="#detailsModal">
                                    <fa name="facebook"></fa>
                                </a>
                                <a class="option" title="Add notes" (click)="openModalByTab(item, 'note')" data-toggle="modal" data-target="#detailsModal">
                                    <i class="fa fa-edit">
                                        <span class="badge red-badge">{{item.noteCount}}</span>
                                    </i>
                                </a>
                                <a class="option" title="Add to list" (click)="openModalByTab(item, 'jobReq')" data-toggle="modal" data-target="#detailsModal">
                                    <i class="fa fa-star-o">
                                        <span class="badge green-badge">{{item.listCount}}</span>
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="item-city-name">{{item.cityName}}</div>
                        <div class="item-last-name">{{item.lastTitle}}</div>
                        <div class="item-last-company">{{item.lastCompany}}</div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="has-text-centered">
        <pagination-controls [id]="config.id"
                             [maxSize]="maxSize"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [responsive]="responsive"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
</div>
