<div class="padding-tb-20">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h3 style="display: inline-block;">Inference</h3>
    <a (click)="openAddInferenceForConcept()" class="pull-right font-13" style="margin-right: 10px;" data-toggle="modal" data-target="#conceptInferenceModal">
      <i class="fa fa-plus"></i>
    </a>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <table class="table table-hover table-striped">
      <tbody>
        <tr *ngFor="let item of inferenceData">
          <td>{{ item.conceptName }}</td>
          <td>
            <a (click)="deleteInferenceForConcept(item.id)" class="pull-right font-13">
              <i class="fa fa-trash"></i>
            </a>  
          </td>
        </tr>      
      </tbody>
    </table>
  </div>
</div>

<app-concept-inference-modal>
</app-concept-inference-modal>