 <!-- Modal -->
<div class="modal fade" id="geoLookupMapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="itemData">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row header_right_popup">
		    	<div class="col-md-12 text-right">
		    	    <button class="btn btn-warning div_btn_action" title="Cancel" data-dismiss="modal">
		    	        <i class="fa fa-undo"></i> Cancel
		    	    </button>
		    	</div>
		    	<div class="border_top_d padding_0 col-xs-12"></div>
			</div>

			<div class="padding_15">
				<h3 class="font_bold">
		        {{itemData.name}}
		    </h3>
		    <div>{{itemData.county}}
	       	  <span *ngIf="itemData.state && itemData.county">,</span> {{itemData.state}}
	       	</div>
		    <div class="padding_bottom_15">{{itemData.country}}</div>
			    <agm-map [latitude]="itemData.latitude" [longitude]="itemData.longitude">
					  <agm-marker [latitude]="itemData.latitude" [longitude]="itemData.longitude">
					  	
					  </agm-marker>
					</agm-map>
			</div>
        </div>
    </div>
  </div>

</div>
