a {
    color:#337ab7 !important;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
  color:#ff6b00 !important;
    text-decoration: none;
}
a:active{
    color:#337ab7 !important;
    text-decoration: none;
}
a:focus{
    color:#337ab7 !important;
    text-decoration: none;
}
.img_user_profile {
  width: 100%;
  max-width: 150px;
}
h3 {
    font-size: 18px;
}
.color_999 {
    color: #999;
}
.font_bold {
    font-weight: bold;
}
.padding-lr-15 {
	padding: 0px 15px;
}
.padding-r-18 {
	padding-right: 18px; 
}
/*------------------------*/
table thead tr th {
  padding: 7px !important;
}
table tbody tr td {
  padding: 7px !important;
}
.search_sort .form-control {
    height: 23px;
    padding: 2px 2px 2px 2px;
}
.search_sort {
    max-width: 220px;
    float: right;
    margin-bottom: 15px;
}

.search_sort span.input-group-addon {
    background: transparent;
    border: 0;
    padding-right: 10px;
    padding-left: 0;
}
#searchSort {
  font-size: 13px;
}
#searchSort:focus {
  box-shadow: none !important;
}